<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Novi proizvod</a>
</p>
<br>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Pretraži...">
</p>
<br>

<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="'title'" [header]="'Naziv'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'price'" [header]="'Cena'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{item.price | currency:'RSD '}}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'key'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item.key]">Izmeni</a>
        </ng-template>
    </data-table-column>
</data-table>

