<div class="row">
    <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="save(f.value)"> <!--f.value je json objekat sa vrednostima polja-->
                <div class="form-group">
                    <label for="title">Naziv</label>
                    <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required> <!--ngModel da bi se napravio json objekat sa vrednostima polja, name imena attr u json objektu-->
                    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                        Naziv je obavezan!
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Cena</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">RSD</span>
                        </div>
                        <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
                    </div>
                    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required">Cena je obavezna!</div>
                        <div *ngIf="price.errors.min">Cena mora biti veća od 0!</div>           
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Kategorija</label>
                    <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                        <option value=""></option>
                        <option *ngFor="let c of categories$ | async" [value]="c.key">
                            {{c.value["name"]}}
                        </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                        Kategorija je obavezna!
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Slika</label>
                    <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
                    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                        <div *ngIf="imageUrl.errors.required">Slika je obavezna!</div>
                        <div *ngIf="imageUrl.errors.url">Unesite validan URL!</div>     
                    </div>
                </div>
                <button class="btn btn-success">Sačuvaj</button>
                <button type="button" (click)="delete()" class="btn btn-danger">Obriši</button> <!--def type je submit, da se to ne bi desilo, mora da se menja type-->
            </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.price | currency:'RSD'}}</p>
            </div>
        </div>
    </div>
</div>


