<form #f="ngForm">
    <div class="form-group">
        <label for="name">Ime</label>
        <input #name="ngModel" [(ngModel)]="shipping.name" name="name" type="text" class="form-control" required> <!--ngModel da bi se napravio json objekat sa vrednostima polja, name imena attr u json objektu-->
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">Ime je obavezno!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Adresa</label>
        <input #address="ngModel" [(ngModel)]="shipping.address" name="address" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            <div *ngIf="address.errors.required">Adresa je obavezna!</div>         
        </div>
    </div>
    <div class="form-group">
        <label for="city">Grad</label>
        <input #city="ngModel" [(ngModel)]="shipping.city" name="city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            <div *ngIf="city.errors.required">Grad je obavezan!</div>
        </div>
    </div>
    <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">Naruči</button>
</form>
